---
import Layout from '../../layouts/Layout.astro'
import { db, Post, Author, eq } from "astro:db";

const posts = await db
  .select()
  .from(Post)
  .innerJoin(Author, eq(Post.authorId, Author.authorId));
---
<Layout title="Post">


<h2>Post</h2>

{
  posts.map(
    ({
      Post: { authorId, likes, text, published, slug },
      Author: { name },
    }) => (
      <article>
        <p>Author: {name}</p>
        <time datetime={published.toISOString()}>
          {published.toLocaleDateString()}
        </time>
        <a href={`/posts/${slug}`}>
          <p>{text}</p>
        </a>
        <div>{likes}</div>
        <form method="POST" action={`${Astro.url.pathname}/${slug}`}>
          <input type="hidden" name="redirect" value="" />
          <button>Like</button>
        </form>
      </article>
    ),
  )
}
</Layout>